:root {
    --main_color: #D77FA1;
    --main_color_hover: #C76F91;
    --main_color_disabled: #B75F81;
    --background_color: #FFF9F9;
    --background_color_secondary: #F7F4F0;
    --o_color: #BFB1DF;
    --x_color: #FAC6A0;
}

body{
    background-color: var(--background_color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background: var(--background_color_secondary);
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.header > div {
    display: flex;
    gap: 1em;
}

.icon-text-button {
    border-radius: 7px;
    padding: 0.8em;
    text-decoration: none;
    color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;
    background: var(--main_color);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 50ms;
}

.icon-text-button:hover {
    background: var(--main_color_hover);
}

.icon-text-button span, .icon-text-button p {
    font-size: 18pt;
    margin: 0;
}

.icon-text-button span {
    margin-right: 0.35em;
}