:root {
    --main_color: #D77FA1;
    --main_color_hover: #C76F91;
    --main_color_disabled: #B75F81;
    --background_color: #FFF9F9;
    --background_color_secondary: #FCF6F6;
    --o_color: #BAABDA;
    --x_color: #D6E5FA;
}