:root {
    --main_color: #D77FA1;
    --main_color_hover: #C76F91;
    --main_color_disabled: #B75F81;
    --main_color_hightlight: #ffe0ed;
    --background_color: #FFF9F9;
    --background_color_secondary: #F7F4F0;
    --o_color: #BFB1DF;
    --x_color: #FAC6A0;
    --error_message: red;
    --success_message: #00c100;
    --gray: gray;
}

body{
    background-color: var(--background_color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    margin-bottom: 0.2em;
}

h2 {
    margin-top: 2em;
    margin-bottom: 0.3em;
    font-size: 14pt;
}

h3 {
    font-size: 13pt;
    margin-bottom: 0.3em;
}

p {
    margin-top: 0;
}

label {
    font-size: 14pt;
}

.header {
    display: flex;
    justify-content: space-between;
    background: var(--background_color_secondary);
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.header > div {
    display: flex;
    gap: 1em;
    align-items: center;
}

.content {
    margin: 4em;
}

.icon-text-button {
    border: none;
    border-radius: 7px;
    padding: 0.8em;
    text-decoration: none;
    color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;
    background: var(--main_color);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 50ms;
}

.icon-text-button:hover {
    background: var(--main_color_hover);
}

.icon-text-button span, .icon-text-button p {
    font-size: 18pt;
    margin: 0;
}

.icon-text-button span {
    margin-right: 0.35em;
}

input[type="text"], input[type="password"] {
    border-radius: 7px;
    border: black solid 1px;
    font-size: 14pt;
    padding: 0.5em;
    background-color: var(--background_color);
    width: 15em;
}

.entry {
    background: var(--background_color_secondary);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.entry-first-heading {
    margin-top: 0;
}

.error-message {
    color: var(--error_message);
    margin-top: 1em;
    margin-bottom: 0;
}

.success-message {
    color: var(--success_message);
    margin-top: 1em;
    margin-bottom: 0;
}

.icon-text-display {
    display: flex;
    align-items: center;
}

.icon-text-display span {
    font-size: 18pt;
}
.icon-text-display p {
    font-size: 14pt;
    margin: 0;
}

/* Responsive Styling */

.header-mobile {
    padding-top: 0;
    padding-bottom: 0;
    display: none;
}

.dropdown-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--background_color_secondary);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    display: none;
}

.mobile-icon-button {
    font-size: 52pt;
    border: none;
    background: transparent;
}

.status-mobile {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.controls-mobile {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#mobile-th {
    display: none;
}

@media only screen and (max-width: 700px) {
    #header {
        display: none;
    }

    #header-mobile {
        display: flex;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        box-sizing: border-box;
    }
}