.turn_changer_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    font-weight: bold;
    background-color: var(--background_color_secondary);
    border-radius: 20px;
    height: min(5%, 5cqmin);
    aspect-ratio: 16/1;
}

.turn_changer_box a {
    font-size: max(2cqmin, calc(2cqh / 1.5)); 
    font-weight: bold;
    line-height: 1;
    box-sizing: border-box;
    width: 25%;
}