body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tictactoe-box{
    height: 80vmin;
    aspect-ratio: 1 / 1;
    display: grid;
    gap: min(3%, 5px);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: var(--background_color_secondary);
    padding: 2vmin;
    border-radius: 5%;
}

.tictactoe-fields {
    background-color: var(--main_color);
    color: var(--background_color_secondary);
    font-size: clamp(2rm, 8rm, 10rm);
    font-weight: bolder;
    border-radius: 5%;
    cursor: pointer;
    border-color: transparent;
    box-shadow: none;
    display: grid;
    place-items: center;
    container-type: inline-size;
    transition-timing-function: ease-in-out;
    transition-duration: 50ms;
}


.tictactoe-fields span {
  font-size: 40cqw; 
  font-weight: bold;
  line-height: 1;
}

.tictactoe-fields:hover {background-color: var(--main_color_hover);}
.tictactoe-fields:active {transform: scale(.97);}

.marked_by_o {
    color: var(--o_color);
    background-color: var(--main_color_disabled);
}

.marked_by_o:hover,
.marked_by_o:active {
    background-color: var(--main_color_disabled);
    transform: none;   
}

.marked_by_x {
    color: var(--x_color);
    background-color: var(--main_color_disabled);
}

.marked_by_x:hover,
.marked_by_x:active {
    background-color: var(--main_color_disabled);
    transform: none;
}