<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"><!--Material Design Icons-->
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="left-section">
            <a href="play" class="icon-text-button">
                <span class="mdi mdi-controller"></span>
                <p>Spielen</p>
            </a>
            <a href="leaderboard" class="icon-text-button">
                <span class="mdi mdi-list-box"></span>
                <p>Leaderboard</p>
            </a>
        </div>
        <div class="right-section">
            <a href="login" class="icon-text-button">
                <span class="mdi mdi-account-outline"></span>
                <p>Login</p>
            </a>
        </div>
    </div>
</body>
</html>