<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"><!--Material Design Icons-->
    <script src="js/main.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
</head>
<body>
    <div class="dropdown-mobile" id="dropdown-mobile">
        <div class="status-mobile">
            <button onclick="closeDropdown()" class="mobile-icon-button">
                <span class="mdi mdi-close"></span>
            </button>
            {% if session["logged_in"] %}
                <div class="icon-text-display">
                    <span class="mdi mdi-account"></span>
                    <p class="icon-text-display">{{session["username"]}}</p>
                </div>
            {% endif %}
        </div>
        <div class="controls-mobile">
            <a href="/" class="icon-text-button">
                <span class="mdi mdi-chevron-left"></span>
                <p>Startseite</p>
            </a>
            <a href="leaderboard" class="icon-text-button">
                <span class="mdi mdi-list-box"></span>
                <p>Leaderboard</p>
            </a>
            {% if session["logged_in"] %}
                <a href="login/end_session" class="icon-text-button">
                    <span class="mdi mdi-logout"></span>
                    <p>Logout</p>
                </a>
            {% else %}
                <a href="login" class="icon-text-button">
                    <span class="mdi mdi-account-outline"></span>
                    <p>Login</p>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="header header-mobile" id="header-mobile">
        <div class="left-section">
            <button onclick="openDropdown()" class="mobile-icon-button">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
        <div class="right-section">
            {% if session["logged_in"] %}
                <div class="icon-text-display">
                    <span class="mdi mdi-account"></span>
                    <p class="icon-text-display">{{session["username"]}}</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="header" id="header">
        <div class="left-section">
            <a href="/" class="icon-text-button">
                <span class="mdi mdi-chevron-left"></span>
                <p>Startseite</p>
            </a>
            <a href="leaderboard" class="icon-text-button">
                <span class="mdi mdi-list-box"></span>
                <p>Leaderboard</p>
            </a>
        </div>
        <div class="right-section">
            {% if session["logged_in"] %}
                <div class="icon-text-display">
                    <span class="mdi mdi-account"></span>
                    <p class="icon-text-display">{{session["username"]}}</p>
                </div>
                <a href="login/end_session" class="icon-text-button">
                    <span class="mdi mdi-logout"></span>
                    <p>Logout</p>
                </a>
            {% else %}
                <a href="login" class="icon-text-button">
                    <span class="mdi mdi-account-outline"></span>
                    <p>Login</p>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        <h1>Login</h1>
        <p>Melde dich hier an, um mit Freunden zu spielen</p>
        <div class="entry">
            <form action="login/start_session" method="post">
                <h2 class="entry-first-heading">Benutzername</h2>
                <input type="text" name="username" id="username" placeholder="Dein Benutzername..." required>
                <h2>Passwort</h2>
                <input type="password" name="password" id="password" placeholder="Dein Passwort..." required>
                <h2>Anmelden</h2>
                <button class="icon-text-button" type="submit">
                    <span class="mdi mdi-login"></span>
                    <p>Login</p>
                </button>
                {% if message == "wrong_credentials" %}
                    <p class="error-message">Falscher Benutzername oder falsches Passwort</p>
                {% endif %}
            </form>
        </div>
        <p>Du hast noch keinen Account? Dann registriere dich <a href="register">hier</a>!</p>
    </div>
</body>
</html>