<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="static/css/tictactoe_game.css">
</head>
<body>
    <div class="tictactoe-box">
        {% for rows in columns %}
           {% for field in rows %}
            {% if field == "O": %}
                <button class="tictactoe-fields marked_by_o">
                    <span>O</span>
                </button>
            {% elif field == "X": %}
                <button class="tictactoe-fields marked_by_x">
                    <span>X</span>
                </button>
            {% else: %}
                <button class="tictactoe-fields">
                    <span>&nbsp;</span>
                </button>
            {% endif %}
           {%endfor%}
        {%endfor%}

    </div>
</body>
</html>